In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import r2_score

In [2]:
csvPath = 'BTCUSD_H4.csv'
df = pd.read_csv(csvPath)
dfTrain = df.sample(frac=0.8, random_state=0)
dfTest = df.drop(dfTrain.index)

df.head()

,Unnamed: 0,Time,Open,High,Low,Close,Volume,status
0,0,2017-05-22 20:00:00,2104.6,2154.2,2101.3,2192.9,81,1
1,1,2017-05-23 00:00:00,2142.4,2202.8,2100.4,2170.2,311,1
2,2,2017-05-23 04:00:00,2191.4,2209.1,2122.4,2227.8,299,-1
3,3,2017-05-23 08:00:00,2170.1,2238.8,2113.1,2185.1,489,1
4,4,2017-05-23 12:00:00,2227.7,2266.5,2174.5,2215.4,638,-1

In [3]:
conditions = [(df['Close'] > df['Open']), (df['Close'] < df['Open']), (df['Close'] == df['Open'])]
choices = [1, -1, 0] # up, down, zero
df['status'] = np.select(condlist=conditions, choicelist=choices, default=np.nan)
df.to_csv(csvPath)
df.head()

,Unnamed: 0,Time,Open,High,Low,Close,Volume,status
0,0,2017-05-22 20:00:00,2104.6,2154.2,2101.3,2192.9,81,1.0
1,1,2017-05-23 00:00:00,2142.4,2202.8,2100.4,2170.2,311,1.0
2,2,2017-05-23 04:00:00,2191.4,2209.1,2122.4,2227.8,299,1.0
3,3,2017-05-23 08:00:00,2170.1,2238.8,2113.1,2185.1,489,1.0
4,4,2017-05-23 12:00:00,2227.7,2266.5,2174.5,2215.4,638,-1.0

In [4]:
dfTrain = df.sample(frac=0.9, random_state=0)
dfTest = df.drop(dfTrain.index)

xTrain = np.asanyarray(dfTrain[['Volume', 'status']])
yTrain = np.asanyarray(dfTrain[['Close']])

xTest = np.asanyarray(dfTest[['Volume', 'status']])
yTest = np.asanyarray(dfTest[['Close']])

In [5]:
print(len(dfTest))
print(len(dfTrain))

800
7201

In [6]:
reg = linear_model.LinearRegression()
reg.fit(xTrain, yTrain)
yPred = reg.predict(xTest)

print("R2 score : {}".format(r2_score(yTest, yPred)))

R2 score : -0.002014384337189812